.loginSignup{
    width: 100%;
    height: 100vh;
    background: #fce3fe;
    padding-top: 100px;
}
.signupContainer{
    width: 580px;
    height: 600px;
    background: white;
    margin: auto;
    padding: 40px 60px;
}
.signupContainer h1{
    margin: 20px 0px;
    
}
.signupField{
    display: flex;
    flex-direction: column;
    gap: 29px;
    margin-top: 30px;
}
.signupField input{
    height: 60px;
    width: 100%;
    padding-left: 20px;
    border: 1px solid #c9c9c9;
    outline: none;
    color: #5c5c5c;
    font-size: 18px;
}
.signupContainer button{
    width: 580px;
    height: 60px;
    color: white;
    background: #ff4141;
    margin-top: 30px;
    border: none;
    font-size: 24px;
    font-weight: 500;
    cursor: pointer;
}
.signupLogin{
    margin-top: 20px;
    color: #5c5c5c;
    font-size: 18px;
    font-weight: 500;

}
.signupLogin span{
    color: #ff4141;
    font-weight: 600;

}
.signupAgree{
    display: flex;
    align-items: center;
    margin-top: 25px;
    gap: 20px;
    color: #5c5c5c;
    font-size: 18px;
    font-weight: 500;
}

@media(max-width:1280px){
    .loginSignup{
        padding-top: 50px;
    }
    .signupContainer{
        width: auto;
        max-width: 500px;
        max-height: 500px;

    }
    .signupContainer h1{
        margin: 10px 0px;
    }
    .signupField{
        gap: 20px;
        margin-top: 20px;
    }
    .signupField input{
        height: 65px;
        width: 93%;
    }
    .signupContainer button{
        width: 100%;

    }
    .signupLogin{
        font-size: 16px;
    }
    .signupAgree{
        font-size: 14px;
        gap: 10px;
    }
}

@media(max-width:800px){
    .loginSignup{
        padding-top: 20px 30px;
    }
    .signupContainer h1{
        font-size: 24px;
    }
    .signupField{
        margin-top: 20px;
    }
    .signupField input{
        height: 50px;
    }
    .signupContainer button{
        height: 50px;
        font-size: 16px;
    }
}