.navbar{
    
display: flex;
justify-content: space-around;
padding: 16px 12px;
box-shadow: 0 1px 3px -2px black ;
align-items: center;
}

.navMenu{
    
    display: flex;
    list-style: none;
    align-items: center;
    gap: 50px;
    color: #626262;
    font-size: 20px;
    font-weight: 500;
}
.navMenu li Link{
    text-decoration: none;
}
.navLogo{
    display: flex;
    align-items: center;
    gap: 10px;
    
}
.logo{
    width: 50px;
    height: 50px;
}
.navLogo p{
    color: #171717;
    font-size: 38px;
    font-weight: 600;
}
.navMenu li{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3px;
    cursor: pointer;
    
}
.navMenu hr{
    border: none;
    width: 80%;
    height: 3px;
    border-radius: 10px;
    background-color: #FF4141;
}
.NavLoginCart{
    display: flex;
    align-items: center;
    gap: 45px;
}
.NavLoginCart button{
    width: 157px;
    height: 40px;
    outline: none;
    border: 1px solid #7a7a7a;
    border-radius: 75px;
    color: #515151;
    font-size: 20px;
    font-weight: 500;
    background-color: white;
    cursor: pointer;
}
.NavLoginCart button:active{
    background: #f3f3f3;
}
.navCartCount{
display: flex;
width: 22px;
height: 22px;
justify-content: center;
align-content: center;
margin-top: -35px;
margin-left: -55px;
border-radius:11px ;
background-color: red;
color: white;
}
.navDropdown{
    display: none;
}

@media(max-width:1024px){
    .navbar{
        padding: 12px 30px;
    }
    .navMenu{
        gap: 25px;
        font-size: 14px;
    }
    .navLogo p{
        font-size: 24px;
    }
    .NavLoginCart button{
        width: 80px;
        height: 35px;
        font-size: 16px;
    }
    .NavLoginCart img{
        width: 30px;
    }
    .navCartCount{
        width: 18px;
        height: 20px;
    }
}
@media(max-width:800px){
    .navbar{
        padding: 10px 0px;
    }
    .navDropdown{
        display: block;
        width: 30px;
        rotate: -90deg;
        transition: 0.5s;
    }
    .navLogo p{
        font-size: 20px;
    }
    .navMenu{
        display: none;
        width: 100%;
        height: 80px;
        position: absolute;
        background-color: white;
        justify-content: center;
        top: 50px;
    }
    .navMenuVisible{
        display: flex;

    }
    .navDropdown.open{
        transform: rotate(90deg);

    }
}
@media(max-width:500px){
    .navbar{
        width: 8px 0px;
        gap: 0;
    }
    .navLogo{
        transform: scale(0.8);
    }
    .navLogo p{
        font-size: 18px;
    }
    .navMenu{
        height: 70px;
        top: 50px;
    }
    .NavLoginCart{
        transform: scale(0.8);
    }
}