.productDisplay {
  display: flex;
  margin: 0px 70px;
}
.productdisplayLeft {
  display: flex;
  gap: 17px;
}
.productdisplayImglist {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.productdisplayImglist img {
  height: 163px;
}
.productdisplayMainImg {
  width: 500px;
  height: 700px;
}
.productdisplayRight {
  margin: 0px 70px;
  display: flex;
  flex-direction: column;
}
.productdisplayRight h1 {
  color: #3d3d3d;
  font-size: 24px;
  font-weight: 700;
}
.productdisplayRStar {
  display: flex;
  align-items: center;
  margin-top: 13px;
  gap: 5px;
  color: #1c1c1c;
  font-size: 16px;
}
.productdisplayPrices {
  display: flex;
  margin: 40 0px;
  gap: 30px;
  font-size: 24px;
  font-weight: 700;
}
.productdisplayOldprice {
  color: #818181;
  text-decoration: line-through;
}
.productdisplayNewprice {
  color: #ff4141;
}
.productdisplaySize h1{
    margin-top: 55px;
    color: #656565;
    font-size: 20px;
    font-weight: 600;
}
.productdisplaySizes{
    display: flex;
    margin: 30px 0px;
    gap: 20px;


}
.productdisplaySizes div{
    padding: 18px 24px;
    background: #fbfbfb;
    border: 1px solid #ebebeb ;
    cursor: pointer;
    border-radius: 3px
    ;

}
.productdisplayRight button{
  padding: 20px 40px;
  width: 200px;
  font-size: 16px;
  font-weight: 600;
  color: white;
  background: #ff4141;
  margin-bottom: 40px;
  border: none;
  cursor: pointer;
  outline: none;
}
.productdisplayCategory{
  margin-top: 10px;
}
.productdisplayCategory span{
  font-weight: 600;
}
